a{
  text-decoration: none;
}

.leftNavItem{
    box-sizing: border-box;
    font-size:32px;
    cursor:pointer;
    padding:0;
    text-align: center;
}

.navItem{
    border: 1px solid transparent;
    border-radius: 15px;
    margin: 0 0 0 5px;
}

.navItem:hover{
    border-color: white;
    cursor: pointer;
    transition: 0.5s;
}

.navItem:active{
    border: 1px solid white;
    color: teal;
    cursor: pointer;
    background-color: white;
}

.Profile_border{
    padding: 3px;
    border-radius: 100%;
    background: linear-gradient(45deg, #1AC29C, #207DA0);
}

.inner_profile{
    padding:0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 100%;
    background-color: white;
    height: 100%;
    width: 100%;
}

.profile_image
{
    width: 100%; height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.sidenav {
    box-sizing: border-box;
    padding-top: 0.3rem;
    height: 100vh;
    width: 0;
    position: fixed;
    left: 0px;
    top:0;
    background: rgb(243,243,255);
    background: radial-gradient(circle, rgb(216, 216, 226) 0%, rgb(190, 190, 202) 73%, rgb(144, 148, 150) 100%);
    overflow-x: hidden;

    transition: 0.5s;
  }

  .SideSearch{
    margin:0px 10px 0px 10px;
    display: none;
  }

  .sidenNavProfileborder{
    padding:9px;
  }
  
  .sideNavholder{
    background-color: #000913;
    border:6px solid #000d1b;
    margin: 18px 28px 3px 23px;
    text-decoration: none;
    border-radius: 20px; 
  }

  .storesHolder{
    align-items: center;
    padding:10px 10px 10px 10px;
    height: 387px;
    overflow: hidden;
  }

  .Storesheader{
    background-color: #011124;
    padding:5px 0px;
    border-radius: 20px;
  }

  .StoreProfileborder{
    padding:3px;
  }

  .scroller{
    overflow: auto;
    height:100%;
    padding:10px 0 30px 0px;
    overflow-x: hidden;
  }

  .sideNavHover:hover{
    opacity: 0.3;
    transition: 0.5s; 
    cursor: pointer;
  }

  .sideNavHover:active{
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
  }

  .editedAnchor {
    padding: 8px 8px 3px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
 .closebtn {
    padding:5px 0px 0px 0px;
    position: absolute;
    right: -264px;
    top: 3rem;
    font-size: 36px;
    margin-left: 50px;
    color: #011124;
  }

  .darkest_div{
    min-height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    position: fixed;
    top:0;
    left:0;
    display: none;
    z-index: 10;
}

.Buyying_setting_container{
  min-height: 170px;
  width:400px;
  position: absolute;
  transform: translateY(600%);
  top: 15%;
  left: 36%;
  transition: 0.5s;
}

.Buyying_setting_container p{
  margin:0px;
  padding: 0px;
}

.PopUpContent{
    display: none;
}

.ConfirmationGIF{
  display: block;
  z-index: 12;
}

/* Profile Page */
.ProileContainer{
  align-items: center;
  border-radius:10px;
  border: 1px solid rgb(192, 190, 190); 
  margin:35px 0px 35px 0px;
  text-align: center;
  color: black;
  font-weight: bolder;
}

.imag_container{
  width: 85%;
  height: 85%;
}

.Product_container{
  border-radius:10px;
  border: 1px solid rgb(192, 190, 190); 
  margin:45px 50px;
  text-align: center;
  color: black;
  font-weight: bolder;
  height: 75vh;
  overflow: hidden;
}

.Product_header_container{
  margin: 0;
  padding:0;
  height: 60px;
  background-color: rgb(242, 242, 242);
}

.Profile_header_container
{
  margin: 0;
  padding:0;
  height: 60px;
  color:white;
  background-color: #011124; 
}

.Product_header{
  padding: 10px 15px 7px 15px;
  font-size: 25px;
}

.Product_header_container hr{
  padding: 0;
  margin: 0;;
}

.product_contentBigContainer{
  margin: 0;
  padding: 0;
  overflow: auto;
  height:100%;
  padding:10px 0 30px 0px;
}

.profile_contentBigContainer{
  margin: 0;
  padding: 0;
  padding:10px 0 30px 0px;
}

.product_contentSmallContainer{
  margin:10px 10px 50px 10px;
  align-items: center;
}



  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background:transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  /* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 15px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (max-width: 757px) {
    .searchNaveBar{display: none;}
    .SideSearch{display: flex;}
    .navProfile{display: none;}
    .Buyying_setting_container{left:15%}
  }

  @media screen and (max-width: 570px) {
    .RightItems{display: none;}
  }